    {% load static %}

     <!-- Menú -->
     <nav class="navbar navbar-expand-lg bg-transparent linea-nav">
        <div class="container-fluid">
            <img src="{% static '/img/baloncesto.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top ">
            <a class="navbar-brand text-light margenes marca" href="#">ILoveThisGame</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="margin-left:8rem ;" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link text-light nav" href="{% url 'home' %}">
                            Home
                        </a>
                    <li class="nav-item dropdown me-3">
                        <a class="nav-link dropdown-toggle text-light nav" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Categorías
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'categoria' name='indumentaria' %}">Indumentaria</a></li>
                            <li><a class="dropdown-item" href="{% url 'categoria' name='zapatillas' %}">Zapatillas</a></li>
                            <li><a class="dropdown-item" href="{% url 'categoria' name='accesorios' %}">Accesorios</a></li>
                        </ul>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link text-light nav" href="{% url 'oferta' %}">Ofertas</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link text-light nav" href="{% url 'contact' %}">Contacto</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link  text-light nav" href="{% url 'empresa' %}">Empresa</a>
                    </li>
                    
                </ul>
                {%if user.is_authenticated %}
                <li class="nav-item dropdown me-3">
                    <a class="nav-link dropdown-toggle text-light nav btn btn-outline-danger fa-regular fa-user" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        {{ user.username }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Datos Personales</a></li>
                        <li><a class="dropdown-item" href="#">Favoritos</a></li>
                        <li><a class="dropdown-item" href="#">Pedidos</a></li>
                        <li><a class="dropdown-item" href="#">Direcciones</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item"  style="color:rgb(215, 5, 5);font-weight: bold;"href="{% url 'logout' %}">Cerrar Sesión</a></li>
                    </ul>
                </li>
                    <div>
                       <button class="btn btn-secondary bi bi-cart3 me-3" style="margin:20px " type="submit"></button>
                    </div>
                    {%else %}
                    <button class="btn btn-danger me-3" type="submit">
                        <a class="text-light text-decoration-none" href="{% url 'login' %}">Iniciar Sesión </a></button>
                    
                    {% endif %}
            </div>
        </div>
        <div class="linea-nav"></div>
    </nav>
    

