.ads-grid_shop {
    padding: 6em 0;
}
body{
    display: block;
}
.shop_inner_inf {
    width: 90%;
    margin: 0 auto;
}
.side-bar {
    padding: 20px 15px;
    border: 1px solid black;
}
.wrapper_bottom_shop {
    padding: 1px;
    border: 1px solid #e4e4e4;
}
.wrapper_bootom_shop {
    padding: 15px;
    border: 1px solid #e4e4e4;
    margin-left: 10px;
}
.shop_left img,.shop_right img  {
    width: 100%;
}
.shop_left,.shop_right {
    padding: 0;
	margin-bottom: 1.3em; 
    position: relative;
}
.shop_left .shp,.shop_right .shp {
    margin-bottom: 0;
    margin-top:2rem;
}
.shop_left h6,.shop_right h6{
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 700;
    position: absolute;
    top: 38%;
    left: 12%;
}
.product-sec1.product-sec2 {
	background: url(../img/products/bg1.jpg)no-repeat 0px 0px;
	background-attachment: fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	position: relative;
}
.product-men img {
    width: 100%;
}
.product-men.single {
    margin: 0;
}
.product-men {
    padding-left: 0;
}
.product-men:nth-child(2) .product-new-top,.product-men:nth-child(6) .product-new-top,.product-men:nth-child(7) .product-new-top  {
	background: #FFC107;
}
.product-men:nth-child(4) .product-new-top,.product-men:nth-child(8) .product-new-top,.product-new-top,.product-men:nth-child(3) .product-new-top  {
	background: #219ff3;
}
.product-new-top {
    background: #fb383b;
    color: #fff;
    right: 0;
    position: absolute;
    top: 0;
    width: 80px;
    font-size: 13px;
    height: 29px;
    text-align: center;
    line-height: 2.3;
}
.item-info-product {
	text-align: center;
}
.item-info-product h4 a {
    color: #080808;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}
.men-pro-item {
    position: relative;
}
/*-- //Slider range --*/
.product-men.women_two {
    margin: 1.1em 0;
}
.product-shoe-info {
    padding: 15px;
    border: 1.5px solid red;
}
.men-thumb-item:hover {
	cursor: pointer;
}
.men-thumb-item:hover::before {
	opacity: 1;
	visibility: visible;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 49%;
}
.men-thumb-item {
    text-align: center;
    position: relative;
}
.men-thumb-item:hover .men-cart-pro {
	opacity: 1;
	visibility: visible;
}
.men-thumb-item:hover .inner-men-cart-pro ul {
	margin: 20px 0 0;
}
.men-cart-pro {
	bottom: 0;
	left: 0;
	margin: auto;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	transition: all 0.5s ease-out 0s;
	visibility: hidden;
}
.inner-men-cart-pro {
	height: 100%;
	position: relative;
	width: 100%;
	transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro ul {
	left: 0;
	margin: -60px 0 0;
	padding: 0;
	position: absolute;
	top: 45%;
	width: 100%;
	transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro>ul>li {
	display: inline-block;
}
.inner-men-cart-pro ul li a {
	color: #fff;
	transition: all 0.5s ease-out 0s;
	display: block;
	width: 40px;
	height: 40px;
	text-align: center;
}
.inner-men-cart-pro ul li a:hover {
	background: #ffc229 none repeat scroll 0 0;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 51%;
    top: 0px;
    left: 25%;
	margin: 0 auto;
	position: absolute;
	transition: all 0.5s ease-out 0s;
}
.link-product-add-cart {
    background: #0c0c0c;
    color: #fff;
    display: inline-block;
    height: 37px;
    line-height: 37px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
    font-size: 0.9em;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 51%;
    top: 0px;
    left: 25%;
	margin: 0 auto;
	position: absolute;
	transition: all 0.5s ease-out 0s;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 49%;
}
.link-product-add-cart:hover {
    background: #fb383b;
	color: #fff;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 49%;
}
.shoe.single-item.single_page_b {
    float: left;
    margin-bottom: 2em;
    width: 100%;
}
.shoe.single-item {
    float: right;
}
.info-product-price {
	margin: 12px 0;
    color: red;
}
.info-product-price del {
	font-weight: 300;
	margin-left: 13px;
	font-size: 25px;
}
.info-product-price {
	margin: 12px 0;
	padding: 1em;
	border-top: 1px solid red;
}
.grid_meta {
    float: left;
    width: 80%;
	text-align: left;
}
span.money {
    font-size: 1.3em;
    font-weight: 700;
}
ul.stars i {
	font-size: 9px;
}
ul.stars li {
  list-style:none;
  display:inline-block;
}
ul.stars li a {
	color:yellow;
}
ul.stars li a:hover {
	color:#fb383b;
}
button.shoe-cart {
    font-size: 1.2em;
    color: #fff;
    border:none;
    text-align: center;
    border-left:none!important;
    background: none;
	background: #171717;
    width: 34px;
    height: 34px;
}
button.shoe-cart:hover {
	    background: #fb383b;
}
.shoe-cart {
    font-size: 1em;
    color: #fff;
    margin: 0;
    text-decoration: none;
    text-transform: capitalize;
    border: none;
    background: none;
    outline: none;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    padding:5px 7px;
} 
.shoe-cart:hover,.back a:hover {
	-webkit-box-shadow: 0 0 9px 2px rgba(224, 224, 224, 0.5);
	-moz-box-shadow: 0 0 9px 2px rgba(224, 224, 224, 0.5);
	-o-box-shadow: 0 0 9px 2px rgba(224, 224, 224, 0.5);
	-ms-box-shadow: 0 0 9px 2px rgba(224, 224, 224, 0.5);
    box-shadow: 0 0 9px 2px rgba(224, 224, 224, 0.5);
}
.clearfix:before,
.clearfix:after{
    display: table;
    content: " ";
}
.clearfix:after{
    clear: both;
}
.banner_top.innerpage {
    background: url(../images/banner3.jpg) no-repeat 0px -221px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 225px;
}
.banner_top.innerpage {
    background: url(../images/banner3.jpg) no-repeat 0px -21px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    min-height: 225px;
}
.margen{
    margin-top: 1rem;
}
@media(max-width:1440px){
	.ads-grid_shop {
        padding: 4em 0;
    }
}
@media(max-width:1280px){
    .item-info-product h4 a {
		font-size: 13px;
	}
    .shoe.single-item {
        float: right;
        width: 15%;
    }
    .inner-men-cart-pro .link-product-add-cart {
		width: 70%;
		top: 0px;
		left: 16%;
		margin: 0 auto;
		font-size: 0.9em;
		height: 37px;
	}
	.product-new-top {
		right: 0;
		top: 0;
		width: 65px;
		font-size: 13px;
		height: 29px;
		line-height: 2.3;
	}
}
@media(max-width:991px){
	.left-ads-display{
        padding: 0;
        margin-top: 2em;
    }
}
@media(max-width:800px){
    .banner_top.innerpage {
        min-height: 185px;
    }
    .product-shoe-info {
        padding: 15px;
        width: 47%;
        margin: 0.5em;
        float: left;
    }
}
@media(max-width:480px){
    .ads-grid_shop {
        padding: 2em 0;
    }
}
@media(max-width:384px){
    .banner_top.innerpage {
        min-height: 162px;
    }
}
@media(max-width:375px){
    .shop_inner_inf {
        width: 95%;
    }
}