* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background:black;
}
.contacto{
    width: 500px;
    border: 2px solid rgb(215, 5, 5);
    background-color:rgb(215, 5, 5);
    margin-top: 5rem;
    border-radius: 5px;
    font-weight: bold;
}
.input{
    width: 100%;
    border-radius: 4px;
    background-color: black;
    color: white;
    margin: 3px;
    margin-top: 4px;
    cursor: pointer;
    border: 1px solid black;
}
.input:hover{
    border: 2px solid white;
}
.titulo{
    font-size: 23px;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    color: white;
}
.label{
    color: white;
    margin: 3px;
    margin-top: 4px;
}
textarea{
    margin-bottom: 30px;
    margin-top: 3px;
    border: 1px solid white;
}
textarea:hover{
    
    border:3px solid black;
    cursor: pointer;
}
.button{
    font-size: 20px;
    border-radius: 5px;
    color: white;
    background-color: black;
    width: 25%;
    align-content: center;
    margin-left: 180px;
}
.button:hover{
    background-color: white;
    color: black;
}
.warnings{
    width: 200px;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 20px;
}


/*Small*/
@media screen and (max-width:576px) {
    .container{
        width: 250px;
        margin-top: 1rem;
    }
    
    .button{
        margin-left: 90px;
        font-size: 15px;
    }
}
