{% extends 'app/layout.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static '/css/categorias.css' %}">
{% endblock %}

{% block contenido %}

<div class="product-sec1">
    <!--/mens-->
    <div class="row">
        {% for producto in productos %}
        <div class="col-md-4 product-men ">
            <div class="product-shoe-info shoe">
                <div class="men-pro-item">
                    <div class="men-thumb-item">
                        <img src="/static/img/products/{{producto.id}}.png" style="width: 100%;" class="card-img-top" 
                                alt="{{product.name}}"/>
                        <div class="men-cart-pro">
                            <div class="inner-men-cart-pro">
                                <a href="{% url 'descripcion' id_articulo=producto.id %}" class="link-product-add-cart">Descripción</a>
                            </div>
                        </div> 
                        <span class="product-new-top">New</span>
                    </div> 
                    <div class="item-info-product">
                        <h4>
                            <a href="{% url 'descripcion' id_articulo=producto.id %}" style="text-decoration:none">{{producto.nombre}} </a>
                        </h4>
                        <div class="info-product-price">
                            <div class="grid_meta">
                                <div class="product_price">
                                    <div class="grid-price ">
                                        <span class="money "> $ {{producto.precio}}</span>
                                    </div>
                                </div> 
                                <ul class="stars">
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa-solid fa-star-half-stroke" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="shoe single-item hvr-outline-out">
                                <form action="{% url 'add' producto.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="shoe-cart pshoe-cart">
                                        <i class="bi bi-cart3" aria-hidden="true"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>    
{% endblock %}