{% extends 'app\administracion\base.html' %}

{% block titulo %}Editar articulo{% endblock%}

{% block contenido %}
<h1 class="mt-4">Articulos</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="{% url 'inicio_administracion' %}">Administracion</a></li>
    <li class="breadcrumb-item active">Editar Articulo</li>
</ol>

<div class="card">
    <div class="card-header">Edicion de articulo</div>
    <div class="card-body">
        <form action="{% url 'articulos_editar' id_articulo %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'app/administracion/form_campos.html' %}
        </form>
    </div>
</div>
{% endblock %}